.config/fish/functions/fisher.fish
.config/fish/functions/__differentiate_tab_colors.fish
.config/fish/conf.d/omf.fish
.config/fish/fish_variables

.config/fish/config.fish
.config/fish/conf.d/iterm_tab_colors.fish
.config/fish/completions/fisher.fish


#.vim/plugged/*/.git
#
#.vim/plugged/indentLine/.git
#.vim/plugged/indentLine/.gitignore
#.vim/plugged/nerdtree/.gitignore
#.vim/plugged/nerdtree/.git


.git/ 

!.git
