[user]
	name = Behnam Bagheri
	email = bagheri@linuxmail.org
[core]
	autocrlf = input
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
